.container-form {
  padding: $padding1;
  label {
    color: white;
    margin-bottom: 10px;
  }
  form {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    input {
      height: 30px;
      min-width: 200px;
      padding: 4px 8px;
      border-radius: 5px;
      box-shadow: 5px 0px 15px rgba(0, 0, 0, 1);
      transition: 100ms ease all;
      &:focus,
      &:hover {
        transform: scale(1.1);
      }
      &::placeholder {
        text-align: center;
        color: black;
      }
    }
    .container-btn {
      display: flex;
      justify-content: space-between;
      width: 200px;
      div {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
        width: 90px;
        border: none;
        height: 20px;
        cursor: pointer;
        transition: 100ms ease-in-out all;
        &:hover {
          transform: scale(1.2);
          color: white;
        }
      }
      .top {
        background-color: $color1;
        border-radius: 5px 0 0 5px;
      }
      .flop {
        background-color: crimson;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  .noMovie {
    color: white;
  }
}
.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 10px;
  input {
    width: 200px;
  }
}
.form-range {
  z-index: -5;
  opacity: 0;
}
.animeIn {
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
