*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: #fecc00;
$color2: #262626;
$color3: #1885c1;

$white: white;
$black: #333;
$grey: #a7a8a8;

$font1: "Roboto";

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

$padding1: 20px;

$bigfs: 30px;
$averagefs: 15px;
$smallfs: 12px;

body {
  background-color: $color2;
}
