.favorite-container {
  padding: $padding1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.home {
  .second-title {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 15px;
  }
}
