.container-randomMovie {
  padding: $padding1;
  display: flex;

  .img-container {
    max-width: 400px;
    flex: 1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .info-container {
    flex: 2;
    padding: $padding1;
    background-color: $color1;
    margin-left: 20px;
    line-height: 25px;
    .bold {
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0;
      li {
        border: 1px solid black;
        color: white;
        padding: 4px 8px;
        border-radius: 5px;
        background-color: black;
        margin-right: 5px;
        margin-bottom: 2px;
        font-size: 15px;
      }
    }
    .synopsis {
      padding: 10px;

      border-top: 5px solid black;
      border-left: 5px solid black;
    }
  }
}
.btn-getMovie {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  button {
    cursor: pointer;
    padding: 8px 16px;
    background-color: $color1;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: $bigfs;
    font-weight: bold;
    transition: 50ms ease all;
    &:hover {
      filter: brightness(110%);
    }
  }
}
